{% extends "main.html.twig" %}

{% block main %}
    <form action="" method="post" role="form">
        <fieldset>
            <p><strong>Environment:</strong> {{ environment }}</p>
            <input type="submit" name="oauth" value="OAuth dance!" class="btn btn-primary"{% if session.accessToken is defined %} disabled{% endif %} />
            <input type="submit" name="reset" value="Reset OAuth Token" class="btn btn-warning" />
        </fieldset>
    </form>
        {% if session.accessToken is defined %}
            <div class="alert alert-secondary" role="alert">
                <h4>Token information</h4>
                <hr />
                <ul id="tokenInformation">
                    <li>Access Token: <code  title="length = {{ session.accessToken|length }}" style="overflow-wrap: break-word;">{{ session.accessToken[:80] ~ '...' }}</code></li>
                    <li>Refresh Token: <code title="length = {{ session.refreshToken|length }}">{{ session.refreshToken }}</code></li>
                    <li>Expiration time: <code title="Timestamp: {{ session.expiredTimestamp }}">{{ session.expiredTimestamp|date('r') }}</code> <a href="?refresh" class="btn btn-secondary btn-sm">Refresh the token</a></li>
                </ul>
                <h4>User information</h4>
                <hr />
                <ul>
                    <li><a href="{{ session.resourceOwner.getProfileUrl() }}">{{ session.resourceOwner.getUsername() }}</a> ({{ session.resourceOwner.getId() }}) &bullet; Membership Level: {{ session.resourceOwner.getMembershipLevelId() }}</li>
                    <li>Hide: {{ session.resourceOwner.getHideCount() }} &bullet; Found: {{ session.resourceOwner.getFindCount() }} &bullet; FP: {{ session.resourceOwner.getFavoritePoints() }}</li>
                </ul>
            </div>
        {% endif %}

        {% if http_debug is defined %}
            <div class="alert alert-info" role="alert">
                <h4><span>Http Log</span> <button type="button" class="btn btn-sm btn-info show_log">Show</button></h4>
                <pre style="display: none;"><hr />{{ http_debug }}</pre>
            </div>
        {% endif %}

        {% if exception is defined %}
            <div class="alert alert-warning" role="alert">
                <h4>{{ exception.type }}</h4>
                <hr />
                <strong>Message:</strong> <code>{{ exception.message }}</code><br />
                {% if exception.code is defined %}<strong>Code:</strong> <code>{{ exception.code }}</code><br />{% endif %}
                {% if exception.trace is defined %}<strong>Trace:</strong> <button type="button" class="btn btn-sm btn-warning show_trace">Show</button>
                <pre style="display: none;">{{ exception.trace }}</pre>{% endif %}
            </div>
        {% endif %}

        {% if response is defined %}
            <div class="alert alert-success">
                <h4><span>Headers</span> <button type="button" class="btn btn-sm btn-success show_log">Hide</button></h4>
                <pre><hr />{{ response.headers|print_r }}</pre>

                <h4><span>Response</span>  <button type="button" class="btn btn-sm btn-success show_log">Hide</button></h4>
                <pre><hr />Status Code: {{ response.statusCode }}
                    <br />
                    {{- dump(response.body) }}</pre>
            </div>
        {% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $.fn.extend({
        toggleText: function(a, b) {
            return this.text(this.text() == b ? a : b);
        }
    });

    $('.show_log').on('click', function(e) {
        $(this).parent().next().toggle();
        $(this).toggleText('Show', 'Hide');
    });
    $('.show_trace').on('click', function(e) {
        $(this).next().toggle();
        $(this).toggleText('Show', 'Hide');
    });
</script>
{% endblock %}
